asn1=SEQUENCE:tbsCertificate

[tbsCertificate]
version = EXPLICIT:0,INTEGER:2
serialNumber = INTEGER:0xDCD21EE5A2B7DFC7
signature = SEQUENCE:signature
issuer = SEQUENCE:issuer
validity = SEQUENCE:validity
subject = SEQUENCE:subject
subjectPublicKeyInfo = SEQUENCE:subjectPublicKeyInfo
extensions = EXPLICIT:3,SEQUENCE:extensions

[signature]
algorithm = OID:sha256WithRSAEncryption
parameters = NULL

[issuer]
C = SET:issuer_C_RDN
O = SET:issuer_O_RDN
OU1 = SET:issuer_OU1_RDN
OU2 = SET:issuer_OU2_RDN

[issuer_C_RDN]
rdn = SEQUENCE:issuer_C_ATV

[issuer_C_ATV]
type = OID:countryName
value = PRINTABLESTRING:FR

[issuer_O_RDN]
rdn = SEQUENCE:issuer_O_ATV

[issuer_O_ATV]
type = OID:organizationName
value = PRINTABLESTRING:Mon Entreprise

[issuer_OU1_RDN]
rdn = SEQUENCE:issuer_OU1_ATV

[issuer_OU1_ATV]
type = OID:organizationalUnitName
value = PRINTABLESTRING:0002 123456789

[issuer_OU2_RDN]
rdn = SEQUENCE:issuer_OU2_ATV

[issuer_OU2_ATV]
type = OID:organizationalUnitName
value = PRINTABLESTRING:OpenSSL Root CA

[validity]
notBefore = UTCTIME:120407151747Z
notAfter = UTCTIME:140407151747Z

[subject]
C = SET:subject_C_RDN
O = SET:subject_O_RDN
OU = SET:subject_OU_RDN
CN = SET:subject_CN_RDN

[subject_C_RDN]
rdn = SEQUENCE:subject_C_ATV

[subject_C_ATV]
type = OID:countryName
value = PRINTABLESTRING:FR

[subject_O_RDN]
rdn = SEQUENCE:subject_O_ATV

[subject_O_ATV]
type = OID:organizationName
value = FORMAT:UTF8,UTF8String:Mon Entité

[subject_OU_RDN]
rdn = SEQUENCE:subject_OU_ATV

[subject_OU_ATV]
type = OID:organizationalUnitName
value = PRINTABLESTRING:0002 987654321

[subject_CN_RDN]
rdn = SEQUENCE:subject_CN_ATV

[subject_CN_ATV]
type = OID:commonName
value = FORMAT:UTF8,UTF8String:Prénom Nom

[subjectPublicKeyInfo]
algorithm = SEQUENCE:rsaEncryption
subjectPublicKey = BITWRAP,SEQUENCE:subjectPublicKey

[rsaEncryption]
algorithm = OID:rsaEncryption
parameters = NULL

[subjectPublicKey]
n = INTEGER:0xB86F48F999F19971C66F8064D1CA0C1A6EC88AF3B939FD07088D97B2BE1E2795B\
D1E8688FF0E6172B73D37A5B81935C7C3AE57A27E5D46F38383089C4410EDA95D1EFA99C4931586\
CE57490060003902034A358E07F90FF2D347342E6BF95139E06E63F3C997874F4B35E8DA3A87F4F\
5188A8674C1B11BA0F329FC5C2EB6CD26F465751C3789C6B97E3963368AA1881910262BA9D8FEE7\
9D3434E722A2302DF4E82D3979355B6254D032A3A52C317FA5D298403693A6C3A1665F3FF6FCED4\
54A064597F5EF417E68BB7FD2D3892B4F04CD359F2B0133460012BE7B5282DB23AAD23FFB37640F\
655F98F3806F10D9B4BF752F41A7E5BD173AB8345B81FD5C8DD1
e = INTEGER:0x010001

[extensions]
subjectKeyIdentifier=SEQUENCE:subjectKeyIdentifier
authorityKeyIdentifier=SEQUENCE:authorityKeyIdentifier
keyUsage=SEQUENCE:keyUsage
certificatePolicies=SEQUENCE:certificatePolicies
crlDistributionPoints=SEQUENCE:crlDistributionPoints
basicConstraints=SEQUENCE:basicConstraints

[subjectKeyIdentifier]
extnID = OID:subjectKeyIdentifier
# openssl rsa -in ee-key.pem -RSAPublicKey_out -outform DER | openssl sha1
# (stdin)= 8b28e4fe7743b005e3671f8aef13582bcb464060
extnValue = OCTWRAP,FORMAT:HEX,OCTETSTRING:8b28e4fe7743b005e3671f8aef13582bcb464060

[authorityKeyIdentifier]
extnID = OID:authorityKeyIdentifier
extnValue = OCTWRAP,SEQUENCE:authorityKeyIdentifier_seq

[authorityKeyIdentifier_seq]
# openssl rsa -in ca-key.pem -RSAPublicKey_out -outform DER | openssl sha1
# (stdin)= 4c6d879382f72d2c0723a20fe0712d173f39f38f
keyIdentifier = IMPLICIT:0,FORMAT:HEX,OCTETSTRING:4c6d879382f72d2c0723a20fe0712d173f39f38f

[keyUsage]
extnID = OID:keyUsage
critical = BOOLEAN:true
extnValue = OCTWRAP,FORMAT:BITLIST,BITSTRING:0,1

[certificatePolicies]
extnID = OID:certificatePolicies
extnValue = OCTWRAP,SEQUENCE:policyInformation

[policyInformation]
policyInformation = SEQUENCE:policyIdentifier

[policyIdentifier]
policyIdentifier = OID:1.2.840.113556.1.8000.2554.47311.54169.61548.20478.40224.8393003.10972002.1.2

[crlDistributionPoints]
extnID = OID:crlDistributionPoints
extnValue = OCTWRAP,SEQUENCE:distributionPoints

[distributionPoints]
distributionPoint = SEQUENCE:distributionPoint

[distributionPoint]
distributionPoint = EXPLICIT:0,EXPLICIT:0,IMPLICIT:6,IA5STRING:http://tiny.cc/LatestCRL

[basicConstraints]
extnID = OID:basicConstraints
critical = BOOLEAN:true
extnValue = OCTWRAP,SEQUENCE
