asn1 = SEQUENCE:tst_timeStampToken

[tst_timeStampToken]
contentType = OID:pkcs7-signedData
content = EXPLICIT:0,SEQUENCE:tst_content

[tst_content]
version = INTEGER:3
digestAlgorithms = SET:tst_digestAlgorithms
encapContentInfo = SEQUENCE:tst_encapContentInfo
signerInfos = SET:tst_signerInfos

[tst_digestAlgorithms]
digestAlgorithm = SEQUENCE:tst_digestAlgorithm

[tst_digestAlgorithm]
algorithm = OID:sha1
parameters = NULL

[tst_encapContentInfo]
eContentType = OID:id-smime-ct-TSTInfo
eContent = EXPLICIT:0,OCTWRAP,SEQUENCE:tstInfo

[tstInfo]
version = INTEGER:1
policy = OID:\
1.2.840.113556.1.8000.2554.47311.54169.61548.20478.40224.8393003.10972002.1.5
messageImprint = SEQUENCE:tsq_messageImprint
serialNumber = INTEGER:1
genTime = GENERALIZEDTIME:20120616211309Z
nonce = INTEGER:0x4C815608C816687B

[tsq_messageImprint]
hashAlgorithm = SEQUENCE:tsq_hashAlgorithm
hashedMessage = FORMAT:HEX,OCTETSTRING:\
89bd92286d6c8014c06030b25f8b40cc1d5656d4b3b7b4831874f50d6f5557f3

[tsq_hashAlgorithm]
algorithm = OID:sha256
parameters = NULL

[tst_signerInfos]
signerInfo = SEQUENCE:tst_signerInfo

[tst_signerInfo]
version = INTEGER:1
sid = SEQUENCE:tst_sid
digestAlgorithm = SEQUENCE:tst_signerInfo_digestAlgorithm
signedAttrs = IMPLICIT:0,SET:tst_signedAttrs
signatureAlgorithm = SEQUENCE:tst_signerInfo_signatureAlgorithm
signature = FORMAT:HEX,OCTETSTRING:\
222f835b63d35010e14941c4700ca3f1c07808051760e33820c9538e63a327f2\
19a1683e57ca75d2e79f67e1a730ca1ffc2c257c6a939405abdfde4e4aa24961\
9057a161e9ddf6ebc8f4f503c2f401fe47b8e21fcf70e96316646a026602bd74\
998905b6b9cf9d3a5cc00fa91ce90d30d90dc8820695b4782b7a0888cc06a948\
1707de349c1dfb2518e5dce1a2613e70627ee723dfa98fabe03e0cf64a812018\
5eda49ad4251cdccc3aa9d9beb31a79f13987562c02f4de179a2b967a9db0a0d\
6502d0baf2f4f9a1fb118244f47e0371453181f1ba5994f9bfac4ee2970a0e2f\
6d758a07b92bad329538dfc77ded7e594276f5410594c167c4b3de928c53b1b3

[tst_sid]
issuer = SEQUENCE:tst_signerInfo_issuer
serial = INTEGER:0xd3b94f04ddd1a040

[tst_signerInfo_issuer]
issuer_C_RDN = SET:issuer_C_RDN
issuer_O_RDN = SET:issuer_O_RDN
issuer_OU1_RDN = SET:issuer_OU1_RDN
issuer_OU2_RDN = SET:issuer_OU2_RDN

[issuer_C_RDN]
issuer_C_ATV = SEQUENCE:issuer_C_ATV

[issuer_C_ATV]
type = OID:countryName
value = PRINTABLESTRING:FR

[issuer_O_RDN]
issuer_O_ATV = SEQUENCE:issuer_O_ATV

[issuer_O_ATV]
type = OID:organizationName
value = PRINTABLESTRING:Mon Entreprise

[issuer_OU1_RDN]
issuer_OU1_ATV = SEQUENCE:issuer_OU1_ATV

[issuer_OU1_ATV]
type = OID:organizationalUnitName
value = PRINTABLESTRING:0002 123456789

[issuer_OU2_RDN]
issuer_OU2_ATV = SEQUENCE:issuer_OU2_ATV

[issuer_OU2_ATV]
type = OID:organizationalUnitName
value = PRINTABLESTRING:OpenSSL Root CA

[tst_signerInfo_digestAlgorithm]
algorithm = OID:sha1
parameters = NULL

[tst_signedAttrs]
attr_contentType = SEQUENCE:tst_attr_contentType
attr_signingTime = SEQUENCE:tst_attr_signingTime
attr_messageDigest = SEQUENCE:tst_attr_messageDigest
attr_signingCertificate = SEQUENCE:tst_attr_signingCertificate

[tst_attr_contentType]
attrType = OID:contentType
attrValues = SET:tst_attr_contentType_values

[tst_attr_contentType_values]
contentType = OID:id-smime-ct-TSTInfo

[tst_attr_signingTime]
attrType = OID:signingTime
attrValues = SET:tst_attr_signingTime_values

[tst_attr_signingTime_values]
attr_signingTime_value = UTCTIME:120616211309Z

[tst_attr_messageDigest]
attrType = OID:messageDigest
attrValues = SET:tst_attr_messageDigest_values

[tst_attr_messageDigest_values]
messageDigest = FORMAT:HEX,OCTETSTRING:\
0f6d6f384c1cba1e97921fff3d192920af7feae8

[tst_attr_signingCertificate]
attrType = OID:id-smime-aa-signingCertificate
attrValues = SET:tst_attr_signingCertificate_values

[tst_attr_signingCertificate_values]
signingCertificate = SEQUENCE:tst_signingCertificate_certs

[tst_signingCertificate_certs]
certs = SEQUENCE:tst_signingCertificate_essCertIDs

[tst_signingCertificate_essCertIDs]
essCertID = SEQUENCE:tst_signingCertificate_essCertID

[tst_signingCertificate_essCertID]
certHash = FORMAT:HEX,OCTETSTRING:4328a6e719c924d2c414c24ae71950939561c509

[tst_signerInfo_signatureAlgorithm]
algorithm = OID:rsaEncryption
parameters = NULL

